body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Verdana, Helvetica, Geneva, sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}

.table {
    width: 100%;
    clear: both;
    float: none;
}

.table .row {
    clear: both;
    float: none;
}

.table .row .column {
    /*float: left;*/
}

.table .row .column .image {
    border: 1px;
    text-align: center;
}

.imagecontainer {
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ffffff;
    text-align: center;
}

.imagecontainer span.number {
    clear: both;
    font-size: 0.7em;
    display: block;
}

.imagecontainer span.title, .imagecontainer span.size {
    font-size: 0.9em;
}

a:link, a:active, a:visited, a:hover, a.download:link, a.download:active, a.download:visited, a.download:hover {
    color: #ff9999;
    font-weight: bold;
}

.folder {
    border-width: 1px;
    margin: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ffffff;
    text-align: center;
}

.folder a {
    border: 0px solid white;
}

.folder span.title {
    font-weight: bold;
}

.breadcrumb {
    display: block;
    clear: both;
}

.breadcrumb a {
    font-size: .8em;
    float: left;
    margin: 0px 10px 0px 0px;
}

.breadcrumb a:active {
    font-weight: bold;
    color: #ff0000;
}
